/* gọi bằng thẻ tag */
h3 {
    color: blue;
}
/* dấu . gọi thông qua class */
.heading4{
    color: red;
}
/* dấu # thông qua id */
#heading3{
    color: green;
}

.heading4{
    color:violet;
}

h4{
    color: green;
}

#heading-t{
    color:blue;
}

